<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href='img/clouded.png' />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get an overview for today's weather</p>

        <form>
            <input type="text" placeholder="Location" id="input" />
            <button>Search</button>
        </form>
        
        <p id="message-1"></p>
        <p id="message-2"></p>
        <button id="clear">Clear weather data</button>
    </div>


    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>